@charset "utf-8";
/* CSS Document */

h2{
	color:#390;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.menu {
	color:#390;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
}

canvas{
	background-color:#BFFFFF;
	border:thick;
	border-color:#000;
}

#game_over{
	position:absolute;
	top:250px;
	left:350px;
	font-size:50px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#390;
	visibility:hidden;
}

#yScore{
	position:absolute;
	top:320px;
	left:400px;
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#390;
	visibility:hidden;
}
#paused{
	position:absolute;
	top:250px;
	left:350px;
	font-size:50px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#390;
	visibility:hidden;
}
	
	
